*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.content{
    background-image: url("../img/bg_img.jpg");
    background-size: cover;
    height: 100vh;
    background-blend-mode: darken;
    background-color: rgba(41, 55, 56, 0.76);
}
.nav{
    background-color: rgba(142, 176, 245, 0.534);
    width: 100%;
    height: 8vh;
    text-align: center;
    position: sticky;
    top: 0;
}
.nav ul{
    margin-left: 5%;
    /* margin: auto; */
    list-style: none;
    display: flex;
}
.nav li{
    margin: 2%;
    transition: 0.2s;
    cursor: pointer;
    padding: 3px;
}
.nav li:hover{
    border-bottom: 2px solid red;
    border-top: 2px solid red;
}
.nav a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}