/* services css */
.services{
    /* margin-top: 33%; */
    background-color: antiquewhite;
    padding: 2%;
  }
  .services h2{
    text-align: center;
  }
  .row{
    display: flex;
    justify-content:space-around;
  }
  .card{
    width: 25%;
    height: 50vh;
    border-radius: 8px;
    padding: 9px;
    margin-top: 5%;
    background-color: rgba(251, 239, 255, 0.822);
    margin-left: 5%;
    text-align: center;
    overflow: hidden;
  }
  .card-head{
    background-size: cover;
    width: 100%;
    height: 70%;
    transition: 0.6s;
    cursor: pointer;
  }
  #ser1{
    background-image: url('../img/web_dev.jpg');
    border-radius: 10px;
  }
  #ser2{
    background-image: url('../img/app_dev.jpg');
    border-radius: 10px;
  }
  #ser3{
    background-image: url('../img/soft_dev_img.jpg');
    border-radius: 10px;
  }
  #ser4{
    background-image: url('../img/soft_test.jpg');
    border-radius: 10px;
  }
  #ser5{
    background-image: url('../img/home_auto.jpg');
    border-radius: 10px;
  }
  #ser6{
    background-image: url('../img/iot_img.jpg');
    border-radius: 10px;
  }
  #ser7{
    background-image: url('../img/hardware1.jpg');
    border-radius: 10px;
  }
  #ser8{
    background-image: url('../img/innovative.jpg');
    border-radius: 10px;
  }
  
  .card:hover .card-head{
    height: 40%;
  }
  
  .card button{
    background-color: cornflowerblue;
    padding: 10px;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 2%;
  }
  
/* 
  @media (max-width:570px){

    .card-head{
        height: 40%;
    }
    .card:hover .card-head{
        height: 25%;
      }




  } */
  @media(max-width:1000px){

    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 45%;
        height: 45vh;
    }
    .card-head{
        height: 50%;
    }
    .card:hover .card-head{
        height: 30%;
      }
  }
  @media(min-width:1716px){
    .services{
        margin-top: -5%;
    }

  }


